<!--
#  name              :string(255)
#  titel             :string(255)
#  sorter            :integer(4)
#  inhalt            :text
#  produkt_id        :integer(4)
#  icon_file_
-->
<table>
  <tr class="pretty">
	<th>Icon</th>
    <th><%= sortable "name", "Name" %></th>
    
	<th><%= sortable "sorter", "Sorter" %></th>
	<th>Produkt</th>
	<th>Produkt - Titel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% data.each do |help_me| %>
  <tr class="<%= cycle('even', 'odd') %>">
	<td><%= image_tag help_me.icon.url(:thumb) %></td>
    <td><%= help_me.name %></td>
    
	<td><%= help_me.sorter %></td>
	<th><%= help_me.produkt.name if help_me.produkt %></th>
	<td><%= help_me.produkt.titel if help_me.produkt %></td>
	<td><%= link_to show_pic, admin_produkt_detail_bild_path(help_me.id), :class => 'a_link_show' %></td>
    <td><%= link_to edit_pic, edit_admin_produkt_detail_bild_path(help_me.id), :class => 'a_link_edit' %></td>
    <td><%= link_to del_pic, admin_produkt_detail_bild_path(help_me.id), :confirm => 'Bist du wirklich Sicher?', :method => :delete, :class => 'a_link_del' %></td>
  </tr>
<% end %>
</table>