<div class="fields">
<div class="remove_nested_form"><%= link_to_remove_fields "Bild entfernen", f %></div>
<div style="float:right; margin:5px"><%= image_tag f.object.bild.url(:klein) %></div>
<table class="field-list">
<tbody>
	<tr>
		<th class="label"><%= f.label :name %></th>
		<td class="view"><%= f.text_field :name %>
			
			<div class="input-help">Kann Leer- und Sonderzeichen enthalten (wird in Lightbox hinter Objektnamen angezeigt)</div></td>
	</tr>
	<tr>
		<th class="label"><%= f.label :bild %></th>
		<td class="view"><%= f.file_field :bild %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :sorter %></th>
		<td class="view"><%= f.select :sorter, Array(0..42).map { |c| [c, c] } %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :inhalt %></th>
		<td class="view"><%= f.text_area :inhalt, :class => "asid2 lateFCK", :cols => 70, :rows => 1 %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	

</tbody></table>
</div>

