<%= render 'app_shared/error_msg', :item => f.object %>
<table class="field-list">
<tbody>
	<tr>
		<th class="label"><%= f.label :name %></th>
		<td class="view"><%= f.text_field :name %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :titel %></th>
		<td class="view"><%= f.text_field :titel %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	<tr>
		<th class="name-label">
			<%= f.label :sidebar_icon %>
		</th>
		<td class="name-view">
			<%= f.file_field :sidebar_icon %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :sorter %></th>
		<td class="view"><%= f.select :sorter, Array(0..42).map { |c| [c, c] } %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :inhalt %></th>
		<td class="view"><%= f.text_area :inhalt, :class => "asid2" %>
			
			<div class="input-help">x___xx___xxx___xx___x</div>		</td>
	</tr>
	
</tbody></table>

	<div class="trennertop clear"></div>
	<div class="nested_form">
 		<% f.fields_for :banners_kontakt_bereiche do |builder| %>
    		<%= render "banners_kontakt_bereich_fields", :f => builder %>
  		<% end %>
  		<p class="add_nested_form"><%= link_to_add_fields "Banner hinzufuegen", f, :banners_kontakt_bereiche %></p>
	</div>
	<div class="trennertop clear"></div>
	
<div class="actions"><%= f.submit %></div>
