<!--
#  name       :string(255)
#  titel      :string(255)
#  sorter     :integer(4)
#  inhalt     :text
-->
<%= link_to 'Zurück', admin_kontakt_bereiche_path %> | <%= link_to 'Bearbeiten', edit_admin_kontakt_bereich_path(@kontakt_bereich.id) %>
<div class="stand"><%= @kontakt_bereich.updated_at.strftime('%d.%m.%Y .. %H:%M') %></div>
<hr />
<div style="float:right; margin:5px"><%= image_tag @kontakt_bereich.sidebar_icon.url %></div>
<h2><%= @kontakt_bereich.titel %></h2>
<p>Name: <strong><%= @kontakt_bereich.name %></strong></p>
<p>Title: <strong><%= @kontakt_bereich.titel %></strong>
<hr />
<%= raw @kontakt_bereich.inhalt %>
<hr />
<%= link_to 'Zurück', admin_kontakt_bereiche_path %> | <%= link_to 'Bearbeiten', edit_admin_kontakt_bereich_path(@kontakt_bereich.id) %>
<hr />
