<h1>News</h1>
<div class="trenner clear"></div>
<% if @news %>

<% @news.each do |newz| %>
<div class="o_box news_box">
<div class="trigger <%= 'active' if @newsname == newz.name %>">
<%= newz.datum.strftime('%d.%m.%Y') %>
<h3><%= newz.headline %></h3>

</div>
<div class="toggle_container">
<div class="x_trenner"></div>
<br class="clear"/>
<%= raw newz.inhalt %>
<br/>
<p><strong><%= newz.autor %></strong></p>
</div>
</div>

<% end %>
<% end %>
<% content_for :left_aside do %>
	<%= render 'aside_left' %>
<% end %>