<!--

-->
<table>
  <tr class="pretty">
	<th>Sidebar-Icon</th>
    <th><%= sortable "name", "Name" %></th>
    <th><%= sortable "titel", "Titel" %></th>
	<th>Banner</th>
	<th>TabSlider</th>
	<th>Sidebars</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% data.each do |help_me| %>
  <tr class="<%= cycle('even', 'odd') %>">
	<td><%= image_tag help_me.sidebar_icon.url(:thumb) %></td>
    <td><%= help_me.name %></td>
    <td><%= help_me.titel %></td>
	<td><%= help_me.banners.count %></td>
	<td><%= help_me.start_head_sliders.count %></td>
	<td><%= help_me.sidebars.count %></td>
	<td><%= link_to show_pic, admin_seite_path(help_me.id), :class => 'a_link_show' %></td>
    <td><%= link_to edit_pic, edit_admin_seite_path(help_me.id), :class => 'a_link_edit' %></td>
    <td><%= link_to del_pic, admin_seite_path(help_me.id), :confirm => 'Bist du wirklich Sicher?', :method => :delete, :class => 'a_link_del' %></td>
  </tr>
<% end %>
</table>