<!--

-->
<table>
  <tr class="pretty">
	<th>Icon</th>
    <th><%= sortable "titel", "Titel" %></th>
	<th><%= sortable "sorter", "Position" %></th>
	<th>Kategorien</th>
	<th>Produkte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% data.each do |help_me| %>
  <tr class="<%= cycle('even', 'odd') %>">
	<td><%= image_tag help_me.icon.url(:thumb) %></td>
    <td><%= help_me.titel %></td>
	<td><%= help_me.sorter %></td>
	<td><%= help_me.produkt_kategorien.count %></td>
	<td><%= help_me.produkte.count %></td>
	<td><%= link_to show_pic, admin_produkt_bereich_path(help_me.id), :class => 'a_link_show' %></td>
    <td><%= link_to edit_pic, edit_admin_produkt_bereich_path(help_me.id), :class => 'a_link_edit' %></td>
    <td><%= link_to del_pic, admin_produkt_bereich_path(help_me.id), :confirm => 'Bist du wirklich Sicher?', :method => :delete, :class => 'a_link_del' %></td>
  </tr>
<% end %>
</table>