<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>
<hr/>
<h2>Bereiche</h2>
<table class="index">
	<tbody>
    <% @available_pbs.each do |taxon| %>
      <tr id="<%= dom_id(taxon, :sel) %>">
		<td><%= image_tag taxon.icon.url(:thumb) %></td>
        <td><%= taxon.name %></td>
		    <td class="actions">
          <%= link_to icon('add') + ' ' + t("select"),
                            select_admin_leistung_produkt_bereich_path(@leistung, taxon),
                           :remote => true, :class => 'iconlink ad_nesta' %>
		    </td>        
      </tr>
    <% end %>
    <% if @available_pbs.empty? %>
     <tr><td colspan="3"><%= t('no_match_found') %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'abbrechen', '#', :class => 'button ad_nesta' %>