<%= render 'app_shared/error_msg', :item => f.object %>
<table class="field-list">
<tbody>
	<tr>
		<th class="label"><%= f.label :name %></th>
		<td class="view"><%= f.text_field :name %><%= harken(f, :name) %>
			
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :titel %></th>
		<td class="view"><%= f.text_field :titel %><%= harken(f, :titel) %>
			
			<div class="input-help">Anzeige - Name</div>		</td>
	</tr>
	<tr>
		<th class="label"><%= f.label :sorter %><br /></th>
		<td class="view"><%= f.select :sorter, Array(0..42).map { |c| [c, c] } %>
			
			<div class="input-help">Position</div>		</td>
	</tr>
</tbody></table>
<div class="actions"><%= f.submit %></div>

