<%= render 'app_shared/error_msg', :item => f.object %>
<table class="field-list">
<tbody>
	<tr>
		<th class="name-label">
			<%= f.label :name %>
		</th>
		<td class="name-view">
			<%= f.text_field :name %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	<tr>
		<th class="name-label">
			<%= f.label :titel %>
		</th>
		<td class="name-view">
			<%= f.text_field :titel %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	<tr>
		<th class="name-label">
			<%= f.label :sidebar_icon %>
		</th>
		<td class="name-view">
			<%= f.file_field :sidebar_icon %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	
	<tr>
		<th class="name-label">
			<%= f.label :kontakt_bereich_id %>
		</th>
		<td class="name-view">
			<%= f.select :kontakt_bereich_id, KontaktBereich.all.map { |c| [c.name, c.id] } %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	<tr>
		<th class="name-label">
			<%= f.label :sorter %>
		</th>
		<td class="name-view">
			<%= f.select :sorter, Array(0..42).map { |c| [c, c] } %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	<tr>
		<th class="name-label">
			<%= f.label :inhalt %>
		</th>
		<td class="name-view">
			<%= f.text_area :inhalt, :class => "asid2 fck", :rows => '1' %>
			<div class="input-help">Einfach halten ! = klein, '_' statt ' ' ! .. Bsp mesh_outdoor</div>
		</td>
	</tr>
	 
</tbody></table>
<div class="actions"><%= f.submit %></div>

